/* Keep our titles in thecenter of the page */
body {
  text-align: center;
  font-family: sans-serif;
}

/* Add your styles under this line! */
.title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30px;
  letter-spacing: 2px;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 50px;
  font-size: 16px;
}